# Ignore the virtual environment directory
venv/

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore the output of the build process
build/
dist/

# Ignore logs
*.log

# Ignore IDE configurations
.vscode/
.idea/

# Ignore the .env file
.env